{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}

<ul>
    <li><a href="{{path('gallery')}}">gallery</a></li>
    <li><a href="{{path('image')}}">image</a></li>
    <li><a href="{{path('video')}}">video</a></li>
</ul>
{% endblock %}
